@import './var';
@import './mix';

$ue-width:750;

@function px2rem($px) {
  @return ($px/$ue-width*10)rem
}


html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-size: $font-size-normal;
}

img {
  vertical-align: top;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

.left {
  float: left;
  // background: pink;
}

.right {
  float: right;
  // background: cadetblue;
}

.clearf:after {
  content: '';
  height: 0;
  clear: both;
}

#app {
  height: 100%;
}

.view-router {
  height: 100%;
  min-height: 100%;
  padding-bottom: 50px;
  background-color: $bg-color;
}
