$red:#3c3fdb;
$white:#fff;
$main-color:purple;
$main-color-light:#a023a0;
$gray-shallow-more: #f2f2f2;
$gray-dark:#ccc;
$gray-h-dark:#949292;
$black:#000;
$bg-color: $gray-shallow-more;
$more-common:$gray-dark;
