$red:#3c3fdb;
$white:#fff;
$main-color:purple;
$main-color-light:#a023a0;
$gray-shallow-more: #f2f2f2;
$gray-dark:#ccc;
$gray-h-dark:#949292;
$red:red;
$black:#000;
$bg-color: $gray-shallow-more;
$more-common:$gray-dark;
$border-color:$gray-dark;

//字体变量
$font-size-small:.32rem;
$font-size-normal:.37rem;
$font-size-big:.43rem;


//
$ue-width:750;

@function px2rem($px) {
  @return ($px/$ue-width*10)*1rem
}
