$red:#3c3fdb;
$white:#fff;
$main-color:purple;
$main-color-light:#a023a0;
$gray-shallow-more: #f2f2f2;
$gray-dark:#ccc;
$gray-h-dark:#949292;
$gray-dark1:#999;
$red:#db3d3c;
$green:#06bf04;
$fail_red:#f44;
$black:#000;
$bg-color: $gray-shallow-more;
$more-common:$gray-dark;
$border-color:$gray-dark;
$register-color:$gray-dark1;
$link-color:$gray-dark1;
$link-red:$red;
$success-color:$green;
$fail-color:$fail_red;

//字体变量
$font-size-small:.32rem;
$font-size-normal:.37rem;
$font-size-big:.43rem;


//
$ue-width:750;

@function px2rem($px) {
  @return ($px/$ue-width*10)*1rem
}
